@import "../../UI.module";

.wrapper {
  width: 100%;
  display: flex;
  position: absolute;
  right: 20px;
  justify-content: flex-end;
  margin-top: 30px;

  & > .link,
  .text {
    @extend .text;
  }

  & > a:hover {
    color: $purple-color;

    &:after {
      width: 0;
    }
  }
}

@media only screen and (min-width: 0) and (max-width: 1290px) {
  .wrapper {
    height: 52px;
    background-color: $black-color;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    left: -40px;
    width: 110%;
    bottom: 0;
  }

  .link,
  .text {
    color: $white-color;
    font-size: 1.1rem;
    display: -webkit-inline-box;
  }
}

@media only screen and (min-width: 0px) and (max-width: 720px) {
  .wrapper {
    width: 120%;
    bottom: 0;
  }
}
