@import "src/UI.module";

.wrapper {
  display: flex;
  height: 60px;
  position: fixed;
  z-index: 200;
  margin-top: 70px;
}

.title_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-transform: uppercase;
}

.title {
  @extend .text_bold;
  font-size: 24px;
}

.subtitle {
  @extend .text_medium;
  font-size: 24px;
}
