@import "../../UI.module.scss";

.wrapper {
    width: 30px;
    height: 30px;
    position: fixed;
    bottom: 50px;
    right: 30px;
    z-index: 999999;
    display: none;
    cursor: pointer;
    box-sizing: border-box;
    transition: 0.3s all cubic-bezier(0.77, 0, 0.175, 1);
    background: url("../../static/img/arrow_top.png"), no-repeat fixed center;

    &.active {
        display: flex;
    }

    &:hover {
        transition: 0.3s all cubic-bezier(0.77, 0, 0.175, 1);
        background: url("../../static/img/arrow_top_hover.png"), no-repeat fixed center;
    }
}
